p {
  color: #F90;
  width: 80%; }

.content {
  border: 1px solid #121299;
  margin: 0 auto; }
  .content article h1 {
    background: #F90;
    color: color-333; }
  .content article p {
    margin-bottom: 30px; }
  .content aside {
    background: #eee; }

.userlist {
  border: 1px dashed #F00; }
  .userlist .userlist-item {
    background: #943812;
    height: 100px;
    line-height: 100px;
    list-style: none;
    margin: 40px auto; }
